

<%= render '/admin/users/menu' %>
 

<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">


        <div class="panel-body">
          <%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
              <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
            </p>
          <% end %>

          <table class="table">
            <tr class="table-caption">
              <th>Username</th>
              <th>Email</th>
              <th>Created</th>
              <th>Updated</th>
              <th></th>
              <th></th>
            </th>
            <% @users.each do |u| %>
                  <tr>
                    <td class="table-normal"><%= u.username %></td>
                    <td class="table-normal"><%= u.email %></td>
                    <td class="table-normal"><%= u.created_at %></td>
                    <td class="table-normal"><%= u.updated_at %></td>
                    <td class="table-normal"><%= link_to "edit", "/admin/users/#{u.id}/edit" %></td>
                    <td class="table-normal"><%= link_to "delete", "/admin/users/#{u.id}", :method => :delete, data: { confirm: "Delete?"} %></td>
                  </tr>
                  <% end %>
          </table>


          <%= paginate @users %>

     </div>



    </div>

  </div>
</div>

