<%= render '/admin/users/menu' %>



<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">


        <div class="panel-body">


<%= simple_form_for @user, :url => "/admin/users" do |f| %>
          

            <p>
              <label>Username</label>
            </p>
            <p><%= f.text_field :username, :required => true, :class => "width-input", autocomplete: "off" %></p>

            <p><label>Email</label></p>
            <p><%= f.email_field :email, :required => true, :class => "width-input", autofocus: true %></p>

            <p><label>Password</label></p>
            <p> <%= f.password_field :password, :required => true, :class => "width-input", autocomplete: "off" %></p>

        

          <p><label>Residence</label></p>
            <p><%= f.text_field :residence, :required => true, :class => "width-input", autocomplete: "off" %></p>


          <p>
            <label>Avatar</label>
          </p>
          <p>
              <%= f.label :avatar do %>
              <%= f.file_field :avatar, :required => true  %>
              <%= f.hidden_field :avatar_cache %>
            <% end %>
          </p>

          

          <p style="margin-top: 30px;"><%= f.submit "Save" %></p>
        <% end %>



     </div>



    </div>

  </div>
</div>

