<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= @keywords if @keywords %>" />
    <meta name="title" content="<%= @title if @title %>" />

    <title>YourApp <%= ' - ' + @title if @title %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'custom_as_simple', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>



<body>

  <div class="wrapper">


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="true" data-target="#navbar" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">YourApp</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="true" style="">
          <ul class="nav navbar-nav">
            <li>
                <a href="/admin">admin</a>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="<%= show_nav_active('devise/sessions', 'new') %> dropdown">            

              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <%= current_user.username %> 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('logout'), '/users/sign_out', :method => :delete %></li>
              </ul>
                
            </li>
            <% else %>
            <li>            
              <a href="/users/sign_in">Sign in</a>
            </li>
            <% end %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>










    <div class="container-fluid">
      <hr />
    </div>



    <%= render 'layouts/messages' %>

    <div class="container" style="min-height: 360px; margin-bottom: 20px;">

      <%= yield %>

    </div>


      
    <div class="container-fluid"><hr /></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          &copy; <a href="">YourApp</a> 2015
          <span class="pull-right">
                      
          </span>
        </div>
      </div>
    </div>



  </div>
</body>
</html>
