<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= @keywords if @keywords %>" />
    <meta name="title" content="<%= @title if @title %>" />

    <title>YouApp <%= ' - ' + @title if @title %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'custom_as_simple', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>



<body>

  <div id="nav">
    <div class="container-fluid">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">

          <li class="">
              <a href="/">Home</a>
          </li>
      
          <li class="<%= show_nav_active('devise/sessions', 'new') %>">
            <% if user_signed_in? %>
              <%= link_to t('logout'), '/users/sign_out', :method => :delete %>
            <% else %>
              <a href="/users/sign_in">Sign in</a>
            <% end %>
              
          </li>

        </ul>
        <h3 class="wordmark text-muted"><a href="/">YouApp</a></h3>
      </div>
      </div>
  </div>

  <% if user_signed_in? %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
        </div>

        <div class="col-md-5">
          <span class="text-muted pull-right"><%= current_user.username %></span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container-fluid">
    <hr style="margin-top: 20px;" />
  </div>




  <%= yield %>


    
  <div class="container-fluid"><hr /></div>
    <div id="footer">
      <div class="container-fluid">
          <div class="row">
              &copy; <a href="https://inconshreveable.com">YouApp</a> 2015
              <span class="pull-right">
                          
              </span>
          </div>
    </div>
  </div>


</body>
</html>
